*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# the generated jar file for this plugin and the modified build.properties file
VirtualCorpus.jar
build.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# temporary/editor save files
\#*
*~

# javadoc
doc/javadoc
